@import url('https://fonts.googleapis.com/css?family=Charm|Fredericka+the+Great');

html {
	font-family: "Fredericka the Great";
	color: #5f6161;
	font-size: 10pt;
	
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
	
body {
	background-color: white;
}

a {
	color: white;
	text-align: center;
}

a:hover {
	color: #e00dbd
}

a:focus{
	color:#e00dbd;
}

p {
	text-align: center;
}

h1, h2 {
	color: #b5b0b3;
	text-align: center;
}

h1 {
	font-size: 50pt;
}

.nav_bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #e69ccb;
	color: white;
	height: 50px;
	padding: 10px;
	width: 100%;

}

.section {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding-left: 50px;
	padding-right: 50px;

}

.welcome {	
	background-color: #f7daed;
	font-size: 30pt;
	padding-bottom: 200px;
	height: 90%;
}

.contact {
	background-color: #f7daed;
	font-size: 20pt;
	padding-bottom: 200px;
	padding-top: 100px;
	height: 90%;
	text-align: center;
}

.content {
	background-color: #f7daed;
	font-size: 10pt;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 100px;
	height: 90%;
}

.my_portfolio {
	background-color: #f7daed;
	font-size: 10px;
	text-align: center;
	display: flex;
    flex-direction: column;
	flex-wrap: wrap;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 100px;
	height: 90%;
}

.links {
	font-size:20pt;
	text-align: center;
}

.portfolio_page {
	background-color: #f7daed;
	padding-bottom: 10px;
	height: 90%;

}

.portfolio1, .portfolio2, .portfolio3 {
	text-align: center;
	font-size: 1rem;
}

article, footer {
	padding-left: 150px;
	padding-right: 150px;
}

.picture-of-me {
	height: 220px;
}

footer {
	text-align: center;
	padding-bottom: 50px;
}

@media screen and (max-width: 600px) {

.first_work, .second_work, .third_work {
	width: 50%;
	}

h1, h2 {
	font-size: 2rem;
	}

p {
	font-size: 1rem;
	}

a {
		font-size: 1rem;
	}
}

