@import url('https://fonts.googleapis.com/css?family=Charm|Fredericka+the+Great');

html {
	font-family: "Fredericka the Great";
	font-color: #b5b0b3;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
	
body {
	background-color: white;
}

a {
	color: white;
	text-align: center;
}

p {
	text-align: center;
}

h1, h2 {
	color: #5f6161;
	text-align: center;
}

.nav_bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #e69ccb;
	color: white;
	height: 50px;
	padding: 10px;
	width: 100%;

}

.section {	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding-left: 50px;
	padding-right: 50px;
	
}

.welcome {	
	background-color: #f7daed;
	font-size: 30pt;
	padding-bottom: 200px;
	height: 90%;
}

.contact {
	background-color: #f7daed;
	font-size: 20pt;
	padding-bottom: 200px;added
	padding-top: 100px;
	height: 90%;
	text-align: center;
}

.heading {
	font-size: 20pt;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: 50px;
	padding-right: 50px;
}

.links {
	font-size:20pt;
	text-align: center;
}

.portfolio_page {
	background-color: #f7daed;
	font-size: 10pt;
	padding-bottom: 200px;
	height: 90%;
	text-align: right;
}

.portfolio1 {
	text-align: center;
}

.portfolio2 {
	text-align: center;
}

.portfolio3 {
	text-align: center;
}

article, footer {
	padding-left: 150px;
	padding-right: 150px;

}

.picture-of-me {
	height: 220px;
	
}

footer {
	text-align: center;
}